.fearturecard-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
    margin: 20px;
    margin-bottom: 130px;
    margin-top: 130px;
    align-items: center;
    justify-content: center;

}


.fearturecard{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 300px;

    img{
        max-width: 200px;
        height: auto;
    }

    .content{
        display: flex;
        max-width: 200px;
        margin: 5px;
        text-align: center;
    }

    p {
        padding: 10px;
        margin: 15px;
        font-size: 16px;
        font-weight: bold;
        margin: 0;
        color: #0c0c0c;
      }
}



@media only screen and (max-width: 768px){

    .fearturecard{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        max-width: 300px;
    
        img{
            max-width: 100px;
            height: auto;
        }


}
}