



.sign-in-container{
 
  position: relative;
  margin: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  justify-content: center;

  form{
    margin-top: 20px;

.button-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;

    
    .sign-up{
        color: #f3f3f3;
        border-radius: 10px;
        background: #000000;
        padding:15px ;
        font-size: 16px ;
        cursor: pointer;
        // border-color: #000000;
        width: 160px;  
        margin-left: 20px;
        margin-bottom: 30px;
        border-radius: 20px;

    }

    .google-signin-button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        border: 1px solid #000000;
        border-radius: 20px;
        padding: 10px 20px;
        color: #333;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s ease;
    
        &:hover {
          background-color: #f9f9f9;
        }
    
        .google-logo {
          width: 24px;
          height: 24px;
          margin-right: 10px;
        }
      }
    
}

   

  }
  span{
    margin-left:20px ;
  }
 
  input {
    background: none;
    background-color: white;
    color: grey;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid grey;
    margin: 5px 0;

    &:focus {
      outline: none;
    }

    
  }

  input[type='password'] {
    letter-spacing: 0.3em;
  }

  .form-input-label {
    color: grey;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 300ms ease all;

    
  }
}
