@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');


.hero{
    display: flex;
    padding: 1rem 1.5rem;
    margin: 0px 56px ;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    


    .caption{

        h1{
            font-family: 'Lato', sans-serif;
            
            font-weight: 800;
        }
        display: flex;
        flex-direction: row;
        /* align-items: center; */
        /* justify-content: space-between; */
        flex-direction: column;
        
       
    }

   

   

}


h1{
    font-size: 5rem;
    font-weight: 400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
}

p{
    font-size: 18px;
}

.hero-img{
    max-height: 628px;
    max-width: 658px;
}

.primary{
border-radius: 10px;
background: #000;
padding:15px ;
font-size: 14px ;
color: #FCFEFD;
width: 160px;
}

.p-header{
   
    line-height: 2rem;
    color: rgb(74, 74, 74);
}


.offer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
}

.offer{
    max-height: 460px;
    max-width: 1300px;
    margin-top: 100px ;
    margin-bottom: 100px;
}


.offer-md{
    display: none;
}


.ctcontainer {
    max-width: 1328px;
    padding: 3rem 3rem;
    margin:6rem ;
    display: flex;
    flex: 1;
    background-color: rgb(0, 0, 0);
    color: #FCFEFD;
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-self: center;
    font-size: 1.7rem;

    button{
        color: #FCFEFD;
        border-radius: 10px;
        background: #05C066;
        padding:20px ;
        font-size: 14px ;
        border-color: #05C066;
        width: 160px;
        margin-left: 20px;
    }
    p{
        max-width: 600px;
        color: rgba(240, 255, 255, 0.58);
    }
  }


@media only screen and (max-width: 768px) {


    .hero{
        display: flex;
        padding: 3rem 1.5rem;
        margin: 0px 24px ;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;


       
    
    }

     .hero-img{
        display: block;
        align-self: center;
        justify-self: center;
        min-width: 110%;
        margin-top: 40px;
    } 

    h1{
        font-size: 3.5rem;
        font-weight: 400;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin: 0px;
    }

    p{
        font-size: 16px;
    }

    .offer{
        display: none;
        margin-top: 30px;
    }
    

    .offer-container{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }

    .offer-md{
        display: block;
    }


    .ctcontainer {
        max-width: 1328px;
        padding: 3rem 3rem;
        margin:3rem ;
        display: flex;
        flex: 1;
        background-color: rgb(0, 0, 0);
        color: #FCFEFD;
        border-radius: 20px;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        align-self: center;
        font-size: 1.7rem;
    
        button{
            color: #FCFEFD;
            border-radius: 10px;
            background: #05C066;
            padding:20px ;
            font-size: 14px ;
            border-color: #05C066;
            width: 160px;
            margin-left: 20px;
        }
        p{
            max-width: 600px;
            color: rgba(240, 255, 255, 0.58);
        }
      }
      
      
 
  }

  
 