$sub-color: grey;
$main-color: black;

@mixin shrinkLabel {
  top: -14px;
  font-size: 12px;
  color: $main-color;
}

.profle-order-container{
  display: flex;
  gap: 50px;
  justify-content: center;
  
}

.profile-container{
 
  max-height: 700px;
  position: relative;
  margin: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);

  form{
    margin-top: 20px;

.button-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;

    
    .sign-up{
        color: #f3f3f3;
        border-radius: 10px;
        background: #000000;
        padding:15px ;
        font-size: 16px ;
        // border-color: #000000;
        width: 160px;  
        margin-left: 20px;
        margin-bottom: 30px;
        border-radius: 20px;

    }

    
}

   

  }
  span{
    margin-left:20px ;
  }
 
  input {
    background: none;
    background-color: white;
    color: $sub-color;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $sub-color;
    margin: 5px 0;

    &:focus {
      outline: none;
    }

    &:focus ~ .form-input-label {
      @include shrinkLabel();
    }
  }

  input[type='password'] {
    letter-spacing: 0.3em;
  }

  .form-input-label {
    color: $sub-color;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 300ms ease all;

    

    &.shrink {
      @include shrinkLabel();
    }
  }
  .tot-container{
    display: flex;
    margin:10px;
    flex-direction: column;
    
    .labletot{
       display: flex;
       justify-content: space-between;
       margin: 10px;
       gap: 20px;
    }

    
    
  }

  .pay-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #0056b3;
    }
  }

  
  
}

@media only screen and (max-width: 768px) {



    .profile-container{
      margin:25px;
      display: flex;
      flex-direction: column;
      align-items:flex-start;
      background-color: #fff;
      padding: 1.5rem;
      border-radius: 10px;
      max-width: 650px;
      width: 75%;
    }

    .profle-order-container{
      display: flex;
      flex-wrap: wrap;
      
    }
    
  }