.menu-container {
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    
  
    h1 {
      text-align: center;
      margin-bottom: 1rem;
    }
  
    .tab-list {
    width: 100%;
    max-width: 40rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 5px ;
      border-radius: 0.75rem;
    //   background-color: #05C066;
      
      .tab-item {
        padding: 1rem 2rem;
        cursor: pointer;
        transition: background-color 0.2s ease;
        background-color:  #05c06615;
        border-radius:15px;
        color: #000502;
        
        border: 1px ;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  
        &:hover {
          background-color: #05C066;
          color: aliceblue;
          border: 0cm;
          transition: background-color 0.5s ease;
         
            transition:0.3s;

            transform:scale(1.1);
            cursor:pointer

        }
  
      }
    }
  
    .menu-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap:2rem;
        padding: 5rem 5%;
        padding-bottom: 0px;


  
      
    }
  
    @media (max-width: 768px) {
      .menu-tabs {
        flex-wrap: wrap;
        justify-content: center;
  
        .tab {
          margin-bottom: 0.5rem;
        }
      }
  
      .tab-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        
         
        .tab-item {
           
            padding: 1rem 2rem;
            cursor: pointer;
            transition: background-color 0.2s ease;
            background-color: #e6e0e0eb;
            border-radius:15px;
            color: rgb(14, 14, 14);
            margin:10px 5px;
            
        }    
        
      }
    }
  }
  