.price-container{
  display: flex;
  justify-content: space-between;

}

.product-card {
  border: px solid #111010;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 60px;
  max-width: 319px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);

  &:active{
    background-color:white;
    color:#345e82
  }
  
  &:hover{
    transition:0.3s;
    // margin-left:1vw;
    // margin-right:1vw;
    transform:scale(1.03);
    cursor:pointer
  }
 
  
}

.add-to-cart {
  padding: 10px;
  background-color:  #171a17;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.product-card img {
  display: flex;
  align-self: center;
  border: 0.15px solid #f1f1f1;
  max-width: 100%;
  background-color: #ffffff51;
  height: 279px;
  border-radius: 20px;
}

.product-card h3 {
  font-size: 20px;
  margin: 10px 0;
}

.product-card p {
  font-size: 14px;
  margin: 10px 0;
}

.price {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
 
}


.price-container{
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  align-items: center;
  justify-content: space-around;
  
}
 .add-to-cart {
 
  background-color:  #05C066;
  color: #fdfdfd;
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
 border-color: #0c0202;
 margin-left: 76px;

  &:hover{
    transition:0.2s;
    // margin-left:1vw;
    // margin-right:1vw;
    transform:scale(1.04);
    cursor:pointer;
    background-color: #0c0202;
  }
  
  
}

.product-card .add-to-cart i {
  margin-right: 5px;
}

.price{
  font-size: 25px;
}


@media only screen and (max-width: 768px) {
  .product-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 5rem 5%;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      padding-bottom: 0px;
      margin: 0px;
    }

    .product-card {
      border: px solid #111010;
      border-radius: 20px;
      padding: 20px;
      margin-bottom: 60px;
      max-width: 319px;
      background-color: #ffffff;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  
    
      
    }

}