

@mixin shrinkLabel {
    top: -14px;
    font-size: 12px;
    color: black;
  }

.delivery-info {
    padding: 0px;
    width: 450px;
    margin: 0px;
  
    h2 {
      text-align: left;
    }
  
    .order-type {
      margin-bottom: 10px;
      display: flex;
      align-items: center;
  
      input {
        margin-right: 5px;
      }
    }
  
    .address {
      margin-bottom: 10px;
  
      label {
        display: block;
        margin-bottom: 5px;
      }
  
      span{
        margin-left:0px ;
      }
     
      input {
        background: none;
        background-color: white;
        color: greyr;
        font-size: 18px;
        padding: 10px 10px 10px 5px;
        display: block;
        width: 100%;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid grey;
        margin: 5px 0;
    
        &:focus {
          outline: none;
        }
    
        &:focus ~ .form-input-label {
          @include shrinkLabel();
        }
      }
    
      input[type='password'] {
        letter-spacing: 0.3em;
      }
    
      
    }
  
    .date,
    .time {
      margin-top: 20px;
      margin-bottom: 20px;
  

      input {
        width: 100%;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
    }
  

    
    button{
        color: #FCFEFD;
        border-radius: 10px;
        background: #05C066;
        padding:20px ;
        font-size: 14px ;
        border-color: #05C066;
        width: 160px;
        margin-left: 20px;
    
  
      &:hover {
        background-color: #0056b3;
      }
    }
  }
  
  @media only screen and (max-width: 768px) {

    .delivery-info {
        padding: 0px;
        width: 284px;
        margin: 0px;
      
   
  }


    .Order-summary-container{
      margin:25px;
      display: flex;
      flex-direction: column;
      align-items:flex-start;
      background-color: #fff;
      padding: 1.5rem;
      border-radius: 10px;
      max-width: 700px;
      width: 100%;
    }
    
  }