
.Order-summary-container{
  margin: 3rem;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  background-color: #fff;
  padding: 3rem;
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  max-height: 550px;
  
  .item-container{
    margin-top: 20px;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    overflow-y:scroll;
    display:-webkit-flex;
    border-radius: 10px;
    height: 400px;
    padding:15px ;
    font-size: 16px ;
     border:1px #000000;
    border-radius: 20px;
    
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.986);

}


  form{
    margin-top: 20px;


   

  }
  span{
   max-width: 400px;
  }
}



 
  @media only screen and (max-width: 768px) {

    .Order-summary-container{
      margin:25px;
      display: flex;
      flex-direction: column;
      align-items:flex-start;
      background-color: #fff;
      padding: 1.5rem;
      border-radius: 10px;
      max-width: 700px;
      width: 100%;
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
      // background-color: aqua;

     
    
      // span{
      //   max-width: 300px;
      //   margin-bottom: 20px;
      //  }


       .item-container{
        width: 100%;
        height: 540px;
        display: flex;
        flex-direction: column;
        overflow-y:scroll;
        border-radius: 10px;
        font-size: 16px ;
        border:1px #000000;
        border-radius: 20px;
        display:-webkit-flex;
        flex-direction: column;
    
        padding: 0px;
    
    }

       
    
    }


    
  }
  