
  

.order-history-component{
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    max-width: 800px;
    max-height: 700px ;
    flex-direction: column;
    overflow-x: scroll;
    border-radius: 10px;
    padding: 15px;


  }


