
.checkout-item {
  display: flex;
  align-items: center;
  border: 1px solid rgb(185, 244, 177);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: rgb(185, 244, 177);
  box-shadow: 0px 25px 40px #b8eca833;

  .item-image {
    flex: 1;
    img {
      width: 100px;
      height: 100px;
      object-fit: cover;

    }
    .deletebtn{

      padding: 10px;
     
     
      border: none;
      border-radius: 4px;
      cursor: pointer;

    }
  }

  .item-details {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;

    .item-name {
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 5px;
    }

    .item-price {
      font-size: 16px;
      margin-bottom: 2px;
    }

    .item-quantity {
      font-size: 16px;
      color: #666464;
      

      span{
        margin-left: 10px;
        margin-right: 10px;
        cursor: pointer;
      
      }
    }

   
  }
  
  .remove {
    border: none;
    cursor: pointer;
    margin-right: 20px;
    background-color:rgb(185, 244, 177);
  }

  .item-remove {
    flex: 1;
    text-align: center;

  }
}
