


.abd{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 30px;
  h1{
    font-size: 40px;
  }
}





.review-continer{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
  gap: 30px;

 
  .review-card{
   
   
    
    .review{
      display: flex;
      gap:20px ;
    }

    .btn{
      color: #f3f3f3;
      border-radius: 10px;
      background: #000000;
      padding:15px ;
      font-size: 16px ;
      cursor: pointer;
      width: 160px;  
      margin-left: 20px;
      margin-bottom: 30px;
      border-radius: 20px;
    }
   
   
}
}




.form-about-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;

  textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  textarea {
    resize: vertical;
  }
  
}









